<!-- <p>contactus works!</p> -->
<div style="justify-items: center;">
    <div class="p-grid">
        <div class="p-col-4">
            <br><br><br>
            dsf fsd sfsf ewrew rewr dsf fsd sfsf ewrew rewr dsf fsd 
            sfsf ewrew rewr dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
            dsf fsd sfsf ewrew rewr
        </div>
        <div class="p-col-8">
            <img src="../../../../assets/images/cokhi/contactUS.png" style="width: 100%;"/>
        </div>
    </div>
</div>
