$cdxIconW: 20px;
$cdxIconH: 20px;
$cdxIcons: (
  add-item: 'add_item.gif',
  arrow-up: 'u_arrow.gif',
  arrow-down: 'd_arrow.gif',
  calcs-folder: 'folder/calculations_folder_closed.gif',
  calcs-folder-o: 'folder/calculations_folder_opened.gif',
  clear-sel: 'clear_selection.png',
  clear-sel-disabled: 'clear_selection_disabled.png',
  close-parenthesis: 'expr/close_parenthesis.gif',
  close-widget: 'close_widget.png',
  copy-widget: 'copy_widget.png',
  cus-folder: 'folder/custom_folder_closed.gif',
  cus-folder-o: 'folder/custom_folder_opened.gif',
  cus-folder-add: 'folder/custom_folder+.gif',
  cus-lov: 'lov/custom_lov.png',
  cus-lov-add: 'lov/custom_lov+.gif',
  delete: 'delete.gif',
  delete-widget: 'delete_widget.png',
  edit: 'edit.gif',
  error: 'error.png',
  excel-exp: 'excel_export.png',
  excel-exp-disabled: 'excel_export_disabled.png',
  filter: 'filter/condition.gif',
  filters-folder: 'filter/conditions_folder_closed.gif',
  filters-folder-o: 'filter/conditions_folder_opened.gif',
  folder: 'folder/simple_folder_closed.gif',
  folder-o: 'folder/simple_folder_opened.gif',
  function: 'function.gif',
  item: 'item/item_non_numeric.gif',
  item-numeric: 'item/item_numeric.gif',
  join-master: 'join_master.gif',
  join-detail: 'join_detail.gif',
  lovs-folder: 'folder/lov_folder_closed.png',
  lovs-folder-o: 'folder/lov_folder_opened.png',
  minus-sign: 'expr/minus_sign.gif',
  multi-sign: 'expr/multi_sign.gif',
  new-calc: 'new_calculation.gif',
  new-filter: 'new_condition.gif',
  new-mp-widget: 'widget/new_mp_widget.gif',
  new-total: 'new_total.gif',
  new-widget: 'widget/new_widget.gif',
  new-widget-disabled: 'widget/new_widget_disabled.gif',
  open-parenthesis: 'expr/open_parenthesis.gif',
  paging-next: 'paging_next.png',
  paging-prev: 'paging_previous.png',
  parallel-sign: 'expr/parallel_sign.gif',
  params: 'parameters.png',
  params-disabled: 'parameters_disabled.png',
  percent-sign: 'expr/percent_sign.gif',
  plus-sign: 'expr/plus_sign.gif',
  pdf-exp: 'pdf_export.png',
  pdf-exp-disabled: 'pdf_export_disabled.png',
  refresh: 'refresh-green.png',
  refresh-red: 'refresh-red.png',
  remove: 'remove.gif',
  report: 'report.gif',
  sheet: 'sheet.gif',
  sheet-add: 'sheet_create.png',
  sheet-add-disabled: 'sheet_create_disabled.png',
  sheet-crosstab: 'worsheet_crosstab.gif',
  sheet-layout: 'sheet_layout.png',
  sheet-layout-disabled: 'sheet_layout_disabled.png',
  slash-sign: 'expr/slash_sign.gif',
  show: 'show.gif',
  show-sql: 'show_sql.png',
  total: 'total.gif',
  totals-folder: 'folder/totals_folder_closed.gif',
  totals-folder-o: 'folder/totals_folder_opened.gif',
  uni-folder: 'folder/union_folder_closed.gif',
  uni-folder-disabled: 'folder/union_folder_closed_disabled.gif',
  value: 'value.gif',
  widget: 'widget/widget.png',
  widget-disabled: 'widget/widget_disabled.png',
  widget-mp: 'widget/mp_widget.gif',
  widget-mp-disabled: 'widget/mp_widget_disbled.gif',
  widget-tblbox: 'widget/table_box_widget.gif',
  widget-tblbox-disabled: 'widget/table_box_widget_disabled.gif',
  widget-listbox: 'widget/list_box_widget.gif',
  widget-listbox-disabled: 'widget/list_box_widget_disbled.gif',
  widget-tbl: 'widget/simple_table_widget.gif',
  widget-tbl-disabled: 'widget/simple_table_widget_disabled.gif',
  widget-crosstab: 'widget/crosstab_widget.gif',
  widget-crosstab-disabled: 'widget/crosstab_widget_disabled.gif',
  widget-chart: 'widget/graph_widget.gif',
  widget-chart-disabled: 'widget/graph_widget_disabled.gif',
  workbook: 'workbook.gif',
  workbook-add: 'workbook_create.png',
  workbook-open: 'workbook_open.png',
  workbook-sch: 'scheduled_workbook.gif'
);

.cdi {
  width: $cdxIconW !important;
  height: $cdxIconH !important;
  margin-left: -0.3em !important;
  background-repeat: no-repeat;
  display: inline-block;
}

@each $name, $img in $cdxIcons {
  .cdi-#{$name} {
    background-image: url('~/assets/images/icons/'+$img);
  }
}
