<div class="p-grid vertical-container header ">
    <!-- p-lg-1: width 1/12 if large screen
    p-md-12: full width if md screen
    p-col-12: full width if small screen
    .leftside with media screen to hide the sides when  medium screen -->
    <div class="p-col-12 p-md-12 p-lg-1 p-col-align-start leftside">
        <div class="box">
            <!-- left header indent -->
        </div>
    </div>
    <div class="p-col-12 p-grid p-md-12 p-lg-10 vertical-container headerCenter">
        <div class="p-col p-col-align-center">
            <div class="box" style="padding-left: 20px;">
                <img src="/assets/images/cokhi/logocokhi.png" />
            </div>
        </div>
        <!-- <div class="p-col p-col-align-center">
            <div class="box">
            </div>
        </div> -->
        <div class="p-col  p-col-align-end">
            <div class="box">
                <!-- menu -->
                <app-cokhimenu></app-cokhimenu>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-12 p-lg-1 p-col-align-end rightside">
        <div class="box">
            <!-- right header indent -->
        </div>
    </div>
</div>
