div {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
}

/* Đây là thủ thuật clearfix, ai chưa biết thì xem lại bài học CSS he */
div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.image {
    float: left;
    margin-right: 20px;
    width: 200px;
}

.image img {
    max-width: 100%; /* Dành cho hình có width lớn hơn thành phần bao ngoài */
}

.text {
    float: left;
    width: 380px;
}