<!-- <p-messages [(value)]="msgs"></p-messages> -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Xác nhận xóa Sổ theo dõi" 
  acceptLabel="Chắc chắn xóa"
  rejectLabel="Không xóa"
  icon="pi pi-exclamation-triangle">
</p-confirmDialog>
<p-accordion [multiple]="true" (onOpen)="onTabOpen($event)">
    <p-accordionTab header="Thông tin Seller"  >
        <div class="container-fluid">
            <form #resumeForm="ngForm">
                <div class="row">
                    <div class="col-md-10">
                        <div class="shadow-sm card">
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title d-flex align-items-center">-->
<!--                                    <i class="fa fa-heart" aria-hidden="true"></i>-->
<!--                                    Quá trình điều trị:</h4>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="ui-g-2"></div>-->
<!--                                <div class="ui-g-4">-->
<!--                                    &lt;!&ndash; Hội chứng: &ndash;&gt;-->
<!--                                    <p-dropdown [options]="hoiChungOpts" optionLabel="name"-->
<!--                                        [(ngModel)]="selectedHoiChung" name="selectedHoiChung"-->
<!--                                        [style]="{'width':'100%'}"></p-dropdown>-->
<!--                                </div>-->
<!--                                <div class="ui-g-6">-->
<!--                                    &lt;!&ndash; Khác: <textarea type="text" style="width: 80%;"-->
<!--                                            [(ngModel)]="qtdtKhac" name="qtdtKhac"></textarea> &ndash;&gt;-->
<!--                                    <span class="ui-float-label" width="100%">-->
<!--                                        <textarea  style="width: 80%;" [rows]="3"-->
<!--                                        [(ngModel)]="qtdtKhac" name="qtdtKhac"-->
<!--                                        pInputTextarea></textarea>-->
<!--                                        <label for="float-input">{{qtdtKhac?'':'Khác'}}</label>-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="row">
                                <div class="ui-g-2" style="text-align: right">Mã cân: </div>
                                <div class="ui-g-4">
                                    <input type="text" [(ngModel)]="user.serialWeigher"
                                     name="weight">
                                </div>
<!--                                <div class="ui-g-4">-->
<!--                                    Huyết áp: <input type="text" [(ngModel)]="selectedPatient.huyetap" name="huyetap">-->
<!--                                </div>-->
                            </div>
                        </div>

                        <br>

                    </div>
                    <div class="col-md-2">
                        <div class="shadow-lg card action-buttons">
                            <button (click)="saveUser()"
                                class="btn btn-primary d-flex align-items-center justify-content-center">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span>Lưu</span>
                            </button>
<!--                            <br>-->
<!--                            <button (click)="resumeForm.valid ? xemTTCC('open') : ''"-->
<!--                            [disabled] = "isInvalid"    -->
<!--                            class="btn btn-primary d-flex align-items-center justify-content-center">-->
<!--                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>-->
<!--                                <span>Xem TTCC</span>-->
<!--                            </button>-->
<!--                            <br>-->
<!--                            <button (click)="resumeForm.valid ? xemTTCC('download') : ''"-->
<!--                            [disabled] = "isInvalid"-->
<!--                                class="btn btn-primary d-flex align-items-center justify-content-center">-->
<!--                                <i class="fa fa-download" aria-hidden="true"></i>-->
<!--                                <span>Tải TTCC</span></button>-->
<!--                            <br>-->
<!--                            <button (click)="resumeForm.valid ? xemTTCC('print') : ''"-->
<!--                            [disabled] = "isInvalid"    -->
<!--                            class="btn btn-primary d-flex align-items-center justify-content-center">-->
<!--                                <i class="fa fa-print" aria-hidden="true"></i>-->
<!--                                <span>In TTCC</span></button>-->
<!--                            <br>-->
<!--                            <button type='reset' (click)="resetForm()"-->
<!--                            [disabled] = "isInvalid"-->
<!--                                class="btn btn-primary d-flex align-items-center justify-content-center">-->
<!--                                <i class="fa fa-times" aria-hidden="true"></i><span>Xóa</span></button>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </p-accordionTab>

</p-accordion>
