.label {
    font-weight: bold;
}
.pipe {
    color: green($color: #000000);
}

.bgRed {
    background-color: red;
}
.bgYellow {
    background-color: yellow;
}
.bgGreen {
    background-color: lawngreen;
}