<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-dialog header="Nhập thông tin Cân:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: '700px'}">
    <form #resumeForm="ngForm">
<!--        <div  class="ui-g" style="float: right;">-->
<!--            <button type="button" pButton icon="fa fa-check" (click)="save()" -->
<!--                [disabled]="weigh.serialWeigher===undefined || weigh.serialWeigher.trim()===''" label="Save"></button>-->
<!--        </div>-->
        <br>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">Mã Cân:</div>
        <div class="ui-g-12 ui-md-8 ui-lg-8">
          <!-- <p-dropdown [options]="birthYears" [(ngModel)]="selectedYear"
          name="selectedYear" #SelectedYear="ngModel">
          </p-dropdown> -->
          <input type="text" pInputText [(ngModel)]="weigh.serialWeigher" style="width: 100%;" name="serialWeigher"
          />
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">Model:</div>
        <div class="ui-g-12 ui-md-8 ui-lg-8">
          <!-- <p-dropdown [options]="birthYears" [(ngModel)]="selectedYear"
          name="selectedYear" #SelectedYear="ngModel">
          </p-dropdown> -->
          <input type="text" pInputText [(ngModel)]="weigh.model" style="width: 100%;" name="model"
          />
        </div>
      </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ui-lg-4">Nguồn:</div>
            <div class="ui-g-12 ui-md-8 ui-lg-8">
                <!-- <p-dropdown [options]="birthYears" [(ngModel)]="selectedYear"
                name="selectedYear" #SelectedYear="ngModel">
                </p-dropdown> -->
                <input type="text" pInputText [(ngModel)]="weigh.power" style="width: 100%;" name="power"
                     />
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ui-lg-4">Ngày sản xuất:</div>
            <div class="ui-g-12 ui-md-8 ui-lg-8">
                <!-- <input type="text" pInputText [(ngModel)]="patient.imported_at" style="width: 100%;" name="imported_at"
                    #Imported_at="ngModel" /> -->
                <p-calendar [(ngModel)]="weigh.dateProduce"
                dateFormat="dd/mm/yy"
                name="dateProduce" [showIcon]="true">
                </p-calendar>
            </div>
        </div>

<!--        <div class="ui-g">-->
<!--            <div class="ui-g-12 ui-md-4 ui-lg-4">Nhóm máu:</div>-->
<!--            <div class="ui-g-12 ui-md-8 ui-lg-8">-->
<!--                <p-dropdown [options]="bloods" [(ngModel)]="selectedBlood" name="selectedBlood"-->
<!--                    #SelectedBlood="ngModel">-->
<!--                </p-dropdown>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui-g">-->
<!--            <div class="ui-g-12 ui-md-4 ui-lg-4">Tiền sử:</div>-->
<!--            <div class="ui-g-12 ui-md-8 ui-lg-8">-->
<!--                <input type="text" pInputText [(ngModel)]="patient.history" style="width: 100%;" name="history"-->
<!--                    #History="ngModel" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui-g">-->
<!--            <div class="ui-g-12 ui-md-4 ui-lg-4">Ghi chú:</div>-->
<!--            <div class="ui-g-12 ui-md-8 ui-lg-8">-->
<!--                <input type="text" pInputText [(ngModel)]="patient.note" style="width: 100%;" name="note"-->
<!--                    #Note="ngModel" />-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui-g">-->
<!--            <div class="ui-g-12 ui-md-4 ui-lg-4">TT liên hệ:</div>-->
<!--            <div class="ui-g-12 ui-md-8 ui-lg-8">-->
<!--                <input type="text" pInputText [(ngModel)]="patient.refferent" style="width: 100%;" name="refferent"-->
<!--                    #Refferent="ngModel" />-->
<!--            </div>-->
<!--        </div>-->

        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div style="float: left;" >
                <button type="button" pButton icon="fa fa-close" class="ui-button-danger"
                        (click)="delete()" label="Delete"></button>
            </div>
            <div style="float: right;">
                <button type="button" pButton icon="fa fa-check" (click)="save()" 
                [disabled]="weigh===undefined" label="Save"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-table #dt [columns]="cols" [value]="weighs"
    [loading]="searching"
    [(selection)]="selectedWeigh"
    (onRowSelect)="onRowSelect($event)" 
    [paginator]="true" [rows]="30" 
    selectionMode="single" 
    autoLayout="true"
    [resizableColumns]="true"
    >
    <ng-template pTemplate="caption">
        Danh sách Cân 
        <div class="ui-helper-clearfix" style="text-align: left">
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" 
            (click)="exportBNExcel()" style="margin-right: 0.5em; float:right" 
            class="ui-button-success" ></button>
        </div>
        <div class="row">
            <div style="text-align:left">
                <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()"
                label="Thêm Cân"></button>
            </div>
            <div style="text-align:left">
                <button type="button" pButton icon="fa fa-plus"
                label="Thêm từ EXCEL"></button>
            </div>
<!--            <div style="text-align: right">-->
<!--                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
<!--                <input type="text" pInputText size="50" placeholder="Tìm nhanh"-->
<!--                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">-->
<!--            </div>-->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <!-- <div *ngSwitchCase="'ngaykham'"> ngày/tháng/năm</div> -->
              <!-- <input *ngSwitchCase="'donthuocjs'" pInputText type="text"
                (input)="dt.filter($event.target.value, col.field, 'contains')"> -->
<!--              <input *ngSwitchCase="'patientName'" pInputText type="text"-->
<!--                (input)="dt.filter($event.target.value, col.field, 'contains')">-->
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <div  *ngIf="col.field=='dateProduce' ">
                    {{rowData[col.field] | date: 'dd/MM/yyyy'}}
                </div>
                <div *ngIf="col.field!=='dateProduce'">
                    {{rowData[col.field]}}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length" style="text-align: center; height: 150px; 
            font-weight: bold; color: #027E3F; font-size: 16px;">
<!--                Click -->
                <!-- <div style="text-align:left"> -->
<!--                    <button type="button" pButton icon="fa fa-flash" (click)="layDulieu()" -->
<!--                    label="Lấy dữ liệu"></button>-->
<!--                     để lấy dữ liệu-->
                <!-- </div> -->
                Chưa có dữ liệu
            </td>
        </tr>
    </ng-template>
</p-table>
